{% extends 'base.html' %}
{% block title %} MG - About {% endblock %}
{% block content %}
    <div class="container">
        <h1 class="section-title">About Me</h1>
        <section class="curiosity-and-learning">
            <h3>Curiosity and Learning</h3>
            <p>
                I’m passionate about exploring new fields of knowledge and constantly learning new things. Whether it’s
                technology, history, or random trivia, I believe that every piece of information adds value to my
                personal and professional growth.
            </p>
        </section>
        <section class="photography">
            <h3>Amateur Photography</h3>
            <p>
                Capturing forgotten and hidden places is a hobby that allows me to connect with the world in a unique
                way. Through my lens, I try to preserve the stories of places that time has forgotten.
            </p>
            <p>
                If you are interested in my work, feel free to contact me and check out my <a href="{% url 'gallery' %}">Gallery page</a>!
            </p>
        </section>
        <section class="rail-transportation">
            <h3>Rail Transport Enthusiast</h3>
            <p>
                From historic trains to modern metro systems, I have always been fascinated by rail transport. I enjoy
                learning about its history, design, and the role it plays in shaping urban landscapes.
            </p>
        </section>
        <section class="chess">
            <h3>Chess Player</h3>
            <p>
                Chess is not just a game to me; it’s a way to challenge my strategic thinking and creativity. Whether
                I’m playing online or over the board, I enjoy the mental stimulation and endless possibilities the game
                offers.
            </p>
        </section>
        <section class="urban-movements">
            <h3>Amateur Photography</h3>
            <p>
                I’m deeply interested in urban movements and their efforts to create more sustainable, inclusive, and
                people-friendly cities. Whether it’s promoting cycling, public transport, or better urban planning, I
                support initiatives that improve quality of life in cities. Through my lens, I try to preserve the
                stories of places that time has forgotten.
            </p>
        </section>
    </div>

{% endblock %}