{% extends 'base.html' %}
{% block title %} MG - About {% endblock %}
{% block content %}
    <div class="container">
        <h1>About Me</h1>
        <section>
            <h2>Our Mission</h2>
            <p>
                Our mission is to deliver high-quality solutions that meet the needs of our customers and contribute
                positively to a better world.
            </p>
        </section>
        <section>
            <h2>Our Team</h2>
            <p>
                We are a group of dedicated individuals with diverse skills and experiences, united by our passion for
                delivering excellence.
            </p>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
            <p>Phone: <a href="tel:+123456789">+123-456-789</a></p>
        </section>
    </div>

{% endblock %}