{% extends 'base.html' %}
{% block title %} MG - Contact {% endblock %}
{% block extra_head %}
<script src="https://www.google.com/recaptcha/api.js?render={{ form.fields.captcha.widget.attrs.site_key }}"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('{{ form.fields.captcha.widget.attrs.site_key }}', { action: 'submit' }).then(function (token) {
            document.getElementById('id_captcha').value = token;
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Contact Me</h1>
    <form id="contact-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="id_captcha" name="g-recaptcha-response">
        <button type="submit" class="btn btn-primary" onclick="onSubmit(event)">
            Send
        </button>
    </form>
</div>
{% endblock %}