{% extends 'base.html' %}
{% block title %} MG - Contact {% endblock %}
{% block extra_head %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LeL-a4qAAAAAHoA8A-XVzrVAardarJSre3eO1o5"></script>
    <style>
        a {
            color: inherit;
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Contact Me</h1>
    <form id="contact-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="id_captcha" name="captcha">
        <button type="submit" class="btn btn-primary">
            Send
        </button>
        <br />
        <small>This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </small>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    document.getElementById("contact-form").addEventListener("submit", function(event) {
        event.preventDefault();  // Zatrzymaj domyślne przesyłanie formularza

        grecaptcha.execute('6LeL-a4qAAAAAHoA8A-XVzrVAardarJSre3eO1o5', { action: 'submit' })
            .then(function(token) {
                // Dodaj token do ukrytego pola formularza
                document.getElementById("id_captcha").value = token;

                // Prześlij formularz po dodaniu tokena
                event.target.submit();
            });
    });
</script>
{% endblock %}
