* {
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ustaw pełną wysokość strony */
    margin: 0; /* Usuń domyślne marginesy */
    display: flex;
    flex-direction: column; /* Układ kolumnowy */
}

body {
    background: linear-gradient(to bottom, #e9e9e9, #e9e9fa); /* Zachowanie kolorystyki */
    font-family: Arial, sans-serif;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background: linear-gradient(to top, #003500, #002000);
}

footer {
    background: linear-gradient(to bottom, #003500, #002000);
    color: white;
    text-align: center;
    padding: 10px;
}

header, footer {
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
    flex: 1; /* Zajmuje dostępne miejsce między headerem a footerem */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li.active a {
    font-weight: bold;
}

.container {
    max-width: 500px;
    margin: 20px auto; /* Wyśrodkowanie formularza */
    background: linear-gradient(to bottom, #ffffff, #e9e9f5); /* Subtelne tło zgodne z body */
    padding: 20px;
    border-radius: 10px; /* Zaokrąglone rogi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    border: 1px solid #ccc; /* Lekka ramka */
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #003500; /* Zielony tekst, zgodny z header/footer */
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #003500; /* Zielona ramka */
    border-radius: 5px;
    font-size: 1rem;
    background: #f9f9f9; /* Jasne tło dla pól */
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #005000; /* Ciemniejszy zielony po kliknięciu */
    box-shadow: 0 0 5px rgba(0, 80, 0, 0.5); /* Subtelny efekt świetlny */
}


form button {
    background: linear-gradient(to bottom, #004d00, #003500); /* Gradient zielony */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: linear-gradient(to bottom, #005f00, #004000); /* Jaśniejszy gradient na hover */
}

h1 {
    color: #003500; /* Zielony nagłówek */
    text-align: center;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

small {
    color: #707070;
    font-size: x-small;
}