<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Marek Górski{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="{% if request.path == '/' %}active{% endif %}">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="{% if request.path == '/about/' %}active{% endif %}">
                <a href="{% url 'about' %}">About</a>
            </li>
            <li class="{% if request.path == '/contact/' %}active{% endif %}">
                <a href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="{% if request.path == '/marek/' %}active{% endif %}">
                <a href="{% url 'marek' %}">My Projects</a>
            </li>
        </ul>
    </nav>
</header>

<div id="clock-section">
    <span id="live-clock">--:--:--</span>
</div>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; MG 2025</p>
    {% block footer_extra %}
    {% endblock %}
</footer>

{% block extra_scripts %}
{% endblock %}
</body>
</html>