<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Marek Górski{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {% block extra_head %}
        <!-- Place for adding additional CSS or meta tags -->
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <!-- Add navigation bar -->
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'marek_list' %}">My Projects</a></li>
            <!-- Add additional navigation links as needed -->
        </ul>
    </nav>
</header>

<main>
    {% block content %}
        <!-- Main content goes here -->
    {% endblock %}
</main>

<footer>
    <p>&copy; MG 2025</p>
    {% block footer_extra %}
        <!-- Place for additional footer content -->
    {% endblock %}
</footer>

{% block extra_scripts %}
    <!-- Place for adding JavaScript files -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
</body>
</html>